---

---

<section
  id="work"
  class="text-white border-t border-neutral-800 w-full h-auto py-12 px-8 flex flex-col gap-10 bg-emerald-750"
>
  <h2 class="text-center text-5xl">Contact</h2>
  <form action="" class="border-2 mx-auto">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, nostrum
    temporibus! Adipisci voluptate corrupti facere velit! Vero, aspernatur minus
    optio, consequuntur sed hic reiciendis laboriosam eum cumque, suscipit
    eligendi. Natus!
  </form>
</section>
