---
import { Image } from "astro:assets";
import portfolioImage from "../../public/assets/steven.jpeg";
import NavIcons from "./NavIcons.astro";
---

<section>
  <div
    class="relative bg-[url('/assets/background.jpg')] w-screen h-screen bg-center bg-cover opacity-5"
  >
  </div>
  <div
    class="absolute left-0 top-0 w-full h-screen flex justify-center bg-blue-900/20"
  >
    <div class="m-auto p-10 flex flex-col mx-auto text-center">
      <Image
        src={portfolioImage}
        alt="Image of myself, Steven"
        width={200}
        height={200}
        class="rounded-full mx-auto"
        loading="eager"
      />
      <div class="text-neutral-200 text-lg flex flex-col gap-3">
        <h1 class="text-5xl font-['Lobster']">- Steven Perez -</h1>
        <div class="text-center font-['Noto_Sans_JP']">
          Web Developer | Blogger | Gamer
        </div>
        <NavIcons />
      </div>
    </div>
  </div>
</section>
