---

---

<script>
  const hamburger = document.getElementById("hamburger");
  const sidebarHamburger = document.getElementById("sidebar-hamburger");
  const sidebarNav = document.getElementById("sidebar-nav");

  hamburger.addEventListener("click", () => {
    hamburger.classList.add("hidden");
    sidebarNav.classList.remove("hidden");
  });

  sidebarHamburger.addEventListener("click", () => {
    sidebarNav.classList.add("hidden");
    hamburger.classList.remove("hidden");
  });
</script>

<header class="w-full fixed bg-[#13151a90] z-10">
  <nav
    class="text-gray-200 flex justify-between font-['Noto_Sans_Jp'] text-lg my-auto py-2 px-4"
  >
    <div class="font-['bebas_neue'] text-3xl my-auto">
      <a
        href="#"
        class="active:border-emerald-900 hover:border-b-2 hover:border-blue-900 py-1"
        ><span class="text-emerald-600">Steven</span>Perez</a
      >
    </div>
    <!-- Main Nav -->
    <ul class="gap-8 m-auto hidden md:flex">
      <li>
        <a
          href="#about"
          class="hover:border-b-2 hover:border-blue-900 py-1 active:border-emerald-900 active:text-neutral-400"
          >About</a
        >
      </li>
      <li>
        <a
          href="#work"
          class="hover:border-b-2 hover:border-blue-900 py-1 active:border-emerald-900 active:text-neutral-400"
          >Projects</a
        >
      </li>
      <li>
        <a
          href=""
          class="hover:border-b-2 hover:border-blue-900 py-1 active:border-emerald-900 active:text-neutral-400"
          >Contact</a
        >
      </li>
      <li>
        <a
          href=""
          class="hover:border-b-2 hover:border-blue-900 py-1 active:border-emerald-900 active:text-neutral-400"
          >Blog</a
        >
      </li>
    </ul>
    <!-- Hamburger -->
    <div
      id="hamburger"
      class="flex flex-col gap-1.5 w-6 hover:cursor-pointer my-auto md:hidden"
    >
      <div class="border-b-2 border-white"></div>
      <div class="border-b-2 border-white"></div>
      <div class="border-b-2 border-white"></div>
    </div>
    <!-- Sidebar Nav on small -->

    <nav
      id="sidebar-nav"
      class="absolute hidden md:hidden h-screen bg-black/50 h-full top-0 right-0 w-full flex justify-end z-1"
    >
      <div class="w-3/5 bg-emerald-700 flex flex-col justify-between">
        <ul class="flex flex-col">
          <li id="sidebar-hamburger" class="flex flex-row justify-end">
            <div
              class="flex flex flex-col flex gap-1.5 hover:cursor-pointer my-auto px-3 py-4 hover:bg-emerald-500 active:bg-emerald-800"
            >
              <div class="border-b-2 border-white w-6"></div>
              <div class="border-b-2 border-white w-6"></div>
              <div class="border-b-2 border-white w-6"></div>
            </div>
          </li>
          <li>
            <a
              href="#about"
              class="block px-4 py-3 hover:bg-emerald-500 active:bg-emerald-800 active:text-neutral-400"
              >About</a
            >
          </li>
          <li>
            <a
              href="#work"
              class="block px-4 py-3 hover:bg-emerald-500 active:bg-emerald-800 active:text-neutral-400"
              >Projects</a
            >
          </li>
          <li>
            <a
              href=""
              class="block px-4 py-3 hover:bg-emerald-500 active:bg-emerald-800 active:text-neutral-400"
              >Contact</a
            >
          </li>
          <li>
            <a
              href=""
              class="block px-4 py-3 hover:bg-emerald-500 active:bg-emerald-800 active:text-neutral-400"
              >Blog</a
            >
          </li>
        </ul>
        <!-- Social Icons -->
        <ul class="flex flex-row flex-wrap bg-emerald-500">
          <li>
            <a
              href="https://www.github.com/stevenalp18"
              target="_blank"
              class="block px-4 py-3 hover:bg-emerald-400 active:bg-emerald-800 active:text-neutral-400"
              ><img
                src="/assets/github.png"
                width="22"
                height="22"
                alt="Github Icon"
              /></a
            >
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/stevenalp18"
              target="_blank"
              class="block px-4 py-3 hover:bg-emerald-400 active:bg-emerald-800 active:text-neutral-400"
            >
              <img
                src="/assets/linkedin.png"
                width="22"
                height="22"
                alt="Linkedin Icon"
              /></a
            >
          </li>
          <li>
            <a
              href="https://www.twitter.com/stevenalp18"
              target="_blank"
              class="block px-4 py-3 hover:bg-emerald-400 active:bg-emerald-800 active:text-neutral-400"
            >
              <img
                src="/assets/twitter.png"
                width="22"
                height="22"
                alt="Twitter X Icon"
              /></a
            >
          </li>
        </ul>
      </div>
    </nav>
    <!-- Md and larger links -->
    <ul class="flex rounded-3xl hidden md:flex my-auto gap-6">
      <li>
        <a
          href="https://www.github.com/stevenalp18"
          target="_blank"
          class="block py-3 hover:bg-emerald-400 active:bg-emerald-800 active:text-emerald-400"
          ><img
            src="/assets/github.png"
            width="22"
            height="22"
            alt="Github Icon"
            class="contrast-0"
          /></a
        >
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/stevenalp18"
          target="_blank"
          class="block py-3 hover:bg-emerald-400 active:bg-emerald-800 active:text-emerald-400"
        >
          <img
            src="/assets/linkedin.png"
            width="22"
            height="22"
            alt="Linkedin Icon"
            class="contrast-0"
          /></a
        >
      </li>
      <li>
        <a
          href="https://www.twitter.com/stevenalp18"
          target="_blank"
          class="block py-3 hover:bg-emerald-400 active:bg-emerald-800 active:text-emerald-400"
        >
          <img
            src="/assets/twitter.png"
            width="22"
            height="22"
            alt="Twitter X Icon"
            class="contrast-0"
          /></a
        >
      </li>
    </ul>
  </nav>
</header>
