<header class="w-full py-2 px-4">
  <nav
    class="text-gray-200 py-1 flex justify-between font-['Noto_Sans_Jp'] text-lg my-auto"
  >
    <div class="font-['bebas_neue'] text-2xl my-auto">
      <a
        href="#"
        class="active:border-emerald-900 hover:border-b-2 hover:border-blue-900 py-1"
        ><span class="text-emerald-600">Steven</span>Perez</a
      >
    </div>
    <ul class="flex gap-8 my-auto">
      <li>
        <a
          href=""
          class="hover:border-b-2 hover:border-blue-900 py-1 active:border-emerald-900 active:text-neutral-400"
          >About</a
        >
      </li>
      <li>
        <a
          href=""
          class="hover:border-b-2 hover:border-blue-900 py-1 active:border-emerald-900 active:text-neutral-400"
          >Work</a
        >
      </li>
      <li>
        <a
          href=""
          class="hover:border-b-2 hover:border-blue-900 py-1 active:border-emerald-900 active:text-neutral-400"
          >Blog</a
        >
      </li>
      <li>
        <a
          href=""
          class="hover:border-b-2 hover:border-blue-900 py-1 active:border-emerald-900 active:text-neutral-400"
          >Contact</a
        >
      </li>
    </ul>

    <ul
      class="flex gap-6 rounded-3xl px-3 py-0.5 bg-gradient-to-r from-neutral-200 to-neutral-500 hidden md:flex my-auto"
    >
      <li
        class="hover:border-b-2 active:border-emerald-600 hover:border-blue-600 p-1"
      >
        <a
          href="https://www.github.com/stevenalp18"
          target="_blank"
          class="hover:border-2"
        >
          <img
            src="/assets/github.png"
            width="22"
            height="22"
            alt="Github Icon"
          /></a
        >
      </li>
      <li
        class="hover:border-b-2 active:border-emerald-600 hover:border-blue-600 p-1"
      >
        <a href="https://www.linkedin.com/in/stevenalp18" target="_blank">
          <img
            src="/assets/linkedin.png"
            width="22"
            height="22"
            alt="Linkedin Icon"
          />
        </a>
      </li>
      <li
        class="hover:border-b-2 active:border-emerald-600 hover:border-blue-600 p-1"
      >
        <a href="https://www.twitter.com/stevenalp18" target="_blank" class="">
          <img
            src="/assets/twitter.png"
            width="22"
            height="22"
            alt="Twitter X Icon"
          />
        </a>
      </li>
    </ul>
  </nav>
</header>
