---

---

<ul class="flex flex-row flex-wrap m-auto">
  <li>
    <a
      href="https://www.github.com/stevenalp18"
      target="_blank"
      class="block px-4 py-3 hover:bg-emerald-400 active:bg-emerald-800 active:text-emerald-400"
      ><img
        src="/assets/github.png"
        width="22"
        height="22"
        alt="Github Icon"
        class="contrast-0"
      /></a
    >
  </li>
  <li>
    <a
      href="https://www.linkedin.com/in/stevenalp18"
      target="_blank"
      class="block px-4 py-3 hover:bg-emerald-400 active:bg-emerald-800 active:text-emerald-400"
    >
      <img
        src="/assets/linkedin.png"
        width="22"
        height="22"
        alt="Linkedin Icon"
        class="contrast-0"
      /></a
    >
  </li>
  <li>
    <a
      href="https://www.twitter.com/stevenalp18"
      target="_blank"
      class="block px-4 py-3 hover:bg-emerald-400 active:bg-emerald-800 active:text-emerald-400"
    >
      <img
        src="/assets/twitter.png"
        width="22"
        height="22"
        alt="Twitter X Icon"
        class="contrast-0"
      /></a
    >
  </li>
</ul>
